@import "media-mixins.scss";

@mixin fontValue($f,$w,$st,$s,$lh,$c){
  font-family: $f;
  font-weight: $w;
  font-style: $st;
  font-size: $s;
  line-height: $lh;
  color: $c;
}

$clrWhite:#ffffff;
$clrBlack:#000000;
$clrGrey:#8B8B8B;
$clrPerfectOrange:#FF5C00;

// Хедер
%fontLogoTitle{
  @include fontValue("Roboto", 700, normal, 1.4285rem, 23.44px, $clrWhite);
    @include tinyMobileDown {
      @include fontValue("Roboto", 700, normal, 1.2142rem, 19.92px, $clrWhite);
    }
}
%fontLogoSlogan {
  @include fontValue("Roboto", 500, normal, 1.285rem, 21.09px, $clrWhite);
    @include tinyMobileDown {
      @include fontValue("Roboto", 500, normal, 1rem, 16.41px, $clrWhite);
    }
}
%fontTimeTitle {
  @include fontValue("Roboto", 400, normal, 1.4285rem, 23.44px, $clrWhite);
}
%fontWorkHours {
  @include fontValue("Roboto", 400, normal, 1.0714rem, 17.58px, $clrWhite);
  @include tabletDown {
    @include fontValue("Roboto", 400, normal, 0.9285rem, 15.23px, $clrWhite);
  }
}
%fontTelNumber {
  @include fontValue("Roboto", 500, normal, 1.0714rem, 17.58px, $clrWhite);
    @include tinyMobileDown {
      @include fontValue("Roboto", 500, normal, 1rem, 16.41px, $clrWhite);
    }
}
%fontNavMenu {
  @include fontValue("Roboto", 500, normal, 1.1428rem, 18.75px, $clrBlack);
}
// Футер
%fontCopyFooter {
  @include fontValue("Roboto", 400, normal, 1.4285rem, 23.44px, $clrWhite);
    @include tabletDown {
      @include fontValue("Roboto", 400, normal, 1.0714rem, 17.58px, $clrGrey);
    }
}
// Контент
%fontMainTitle {
  @include fontValue("Roboto", 700, normal, 2.7857rem, 45.7px, $clrWhite);
    @include tinyMobileDown {
      @include fontValue("Roboto", 700, normal, 1.7857rem, 29.3px, $clrWhite);
    }
}
%fontMainAdvantages {
  @include fontValue("Roboto", 500, normal, 1.4285rem, 23.94px, $clrWhite);
    @include tinyMobileDown {
      @include fontValue("Roboto", 500, normal, 1rem, 20.35px, $clrWhite);
    }
}
%fontContentBtn {
  @include fontValue("Roboto", 700, normal, 1.4285rem, 18.75px, $clrWhite);
    @include mobileDown {
      @include fontValue("Roboto", 700, normal, 1.1428rem, 18.75px, $clrWhite);
    }
}
%fontBenefits {
  @include fontValue("Roboto", 700, normal, 1.0714rem, 17.58px, $clrWhite);
    @include tinyMobileDown {
      @include fontValue("Roboto", 700, normal, 1rem, 16.41px, $clrWhite);
    }
}
%fontAskTitle {
  @include fontValue("Roboto", 500, normal, 2rem, 33.51px, $clrBlack);
    @include tabletDown {
      @include fontValue("Roboto", 500, normal, 1.4285rem, 24px, $clrBlack);
    }
    @include tinyMobileDown {
      @include fontValue("Roboto", 500, normal, 1.14285rem, 19.15px, $clrBlack);
    }
}
%fontAskCaption {
  @include fontValue("Roboto", 500, normal, 1.0714rem, 17.95px, $clrBlack);
    @include tinyMobileDown {
      @include fontValue("Roboto", 500, normal, 0.9285rem, 15.56px, $clrBlack);
    }
}
%fontServicesTitle {
  @include fontValue("Roboto", 700, normal, 2rem, 32.81px, $clrBlack);
    @include mobileDown {
      @include fontValue("Roboto", 700, normal, 1.4285rem, 23.44px, $clrBlack);
    }
}
%fontServicesSubTitle {
  @include fontValue("Roboto", 700, normal, 1.5714rem, 25.78px, $clrBlack);
    @include mobileDown {
      @include fontValue("Roboto", 700, normal, 1.2857rem, 21.09px, $clrBlack);
    }
}
%fontServicesPriceValue {
  @include fontValue("Roboto", 700, normal, 3.9285rem, 64.45px, $clrWhite);
  @include tabletDown {
    @include fontValue("Roboto", 700, normal, 2.5rem, 41px, $clrWhite);
  }
}
%fontServicesPriceCurrency {
  @include fontValue("Roboto", 700, normal, 2rem, 15px, $clrWhite);
  @include tabletDown {
    @include fontValue("Roboto", 700, normal, 1.7857rem, 29.3px, $clrWhite);
  }
}
%fontServicesVarDescription {
  @include fontValue("Roboto", 500, normal, 1.4285rem, 24px, $clrBlack);
  @include tinyMobileDown {
    @include fontValue("Roboto", 500, normal, 1.14285rem, 19.15px, $clrBlack);
  }
}
%fontServicesTableFirstColumn {
  @include fontValue("Roboto", 700, normal, 1.4285rem, 24px, $clrBlack);
  @include tabletDown {
    @include fontValue("Roboto", 700, normal, 1.14285rem, 18.75px, $clrBlack);
  }
  @include tinyMobileDown {
    @include fontValue("Roboto", 700, normal, 1.21428rem, 19.92px, $clrBlack);
  }
}
%fontServicesTableSecondColumn {
  @include fontValue("Roboto", 400, normal, 1.4285rem, 23px, $clrBlack);
  @include tabletDown {
    @include fontValue("Roboto", 400, normal, 1.14285rem, 18.75px, $clrBlack);
  }
}
%fontServicesTableSecondColumnSpan {
  @include fontValue("Roboto", 700, normal, 2.14285rem, 35px, $clrPerfectOrange);
  @include tabletDown {
    @include fontValue("Roboto", 700, normal, 1.4285rem, 23.44px, $clrPerfectOrange);
  }
}
%fontServicesTableBtn {
  @include fontValue("Roboto", 700, normal, 1.14285rem, 19px, $clrWhite);
  @include tabletDown {
    @include fontValue("Roboto", 700, normal, 1.0714rem, 17.58px, $clrWhite);
  }
}
%fontServicesTableNotice {
  @include fontValue("Roboto", 400, normal, 1.4285rem, 23px, $clrBlack);
  @include tabletDown {
    @include fontValue("Roboto", 400, normal, 1.14285rem, 18.75px, $clrBlack);
  }
}
%fontServicesAdvantagesStatement {
  @include fontValue("Roboto", 700, normal, 2rem, 33px, $clrBlack);
  @include tabletDown {
    @include fontValue("Roboto", 700, normal, 1.4285rem, 23.44px, $clrBlack);
  }
}
%fontServicesAdvantagesItem {
  @include fontValue("Roboto", 700, normal, 1.5714rem, 26px, $clrWhite);
  @include tabletDown {
    @include fontValue("Roboto", 700, normal, 1.14285rem, 14.91px, $clrWhite);
  }
}
%fontConsultingTitle {
  @include fontValue("Roboto", 700, normal, 1.5714rem, 26px, $clrBlack);
}
%fontConsultingSubtitle {
  @include fontValue("Roboto", 500, normal, 1.5714rem, 26px, $clrWhite);
}
%fontConsultingQualities {
  @include fontValue("Roboto", 700, normal, 2.14285rem, 35px, $clrWhite);
}
%fontConsultingNumberCaption {
  @include fontValue("Roboto", 500, normal, 2.14285rem, 35px, $clrWhite);
    @include mobileDown {
      @include fontValue("Roboto", 500, normal, 1.5714rem, 25.78px, $clrWhite);
    }
}
%fontConsultingNumberValue {
  @include fontValue("Roboto", 500, normal, 2.14285rem, 47px, $clrBlack);
    @include mobileDown {
      @include fontValue("Roboto", 500, normal, 1.7857rem, 29.3px, $clrBlack);
    }
}
%fontCallbackFormHeadline {
  @include fontValue("Roboto", 500, normal, 1.5714rem, 26px, $clrWhite);
}
%fontCallbackFormInput {
  @include fontValue("Roboto", 500, normal, 1.5714rem, 26px, #A5A5A5);
}
%fontCallbackFormCaption {
  @include fontValue("Roboto", 500, normal, 1.4285rem, 23px, #808080);
}
%fontWhyUsQualityGuarant {
  @include fontValue("Roboto", 700, normal, 1.5714rem, 26px, $clrBlack);
    @include mobileDown {
      @include fontValue("Roboto", 700, normal, 1.2857rem, 21.09px, $clrBlack);
    }
}
%fontWhyUsTitle {
  @include fontValue("Roboto", 700, normal, 2rem, 33px, $clrBlack);
}
%fontReviewsTitleCaption {
  @include fontValue("Roboto", 500, normal, 1.7857rem, 29px, $clrBlack);
    @include mobileDown {
      @include fontValue("Roboto", 500, normal, 1.5714rem, 25.78px, $clrBlack);
    }
}
%fontReviewerName {
  @include fontValue("Roboto", 700, normal, 1.2857rem, 21px, $clrBlack);
    @include tabletDown {
      @include fontValue("Roboto", 700, normal, 1.2142rem, 19.92px, $clrBlack);
    }
}
%fontReviewerDate {
  @include fontValue("Roboto", 400, normal, 1.14285rem, 19px, #585858);
}
%fontReviewText {
  @include fontValue("Roboto", 400, normal, 1.4285rem, 26px, $clrBlack);
    @include tabletDown {
      @include fontValue("Roboto", 400, normal, 1.2142rem, 21.79px, $clrBlack);
    }
}
%fontReviewPagination {
  @include fontValue("Roboto", 400, normal, 1.7857rem, 32px, $clrBlack);
}
%fontDiscountTitle {
  @include fontValue("Roboto", 700, normal, 1.5714rem, 26px, $clrBlack);
}
%fontDiscountCaption {
  @include fontValue("Roboto", 500, normal, 1.5714rem, 26px, $clrWhite);
}