// Первый Экран-----------------------------------------------------------------------------
.intro-section {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.intro__background {
  background-image: url("../img/bg/1screen_d.jpg");
  background-position: center 25px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include fullhdUp {
    background-size: cover;
    background-position: center 0px;
  }
  @include tabletDown {
    background-image: url("../img/bg/1screen_tablet.jpg");
    background-size: 920px;
    background-position: top 0px;
  }
}

.content__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  min-width: 0;
}

.intro__top {
  padding-top: 143+150px;
  max-width: 520px;
  margin-left: 28-15px;
  padding-left: 10px;
  position: relative;
  & > * {
    display: inline-block;
  }
  & > *:not(.top__background) {
    z-index: 1;
  }
  .top__background {
    display: none;
  }
  @include tabletDown {
    .top__background {
      position: absolute;
      z-index: 0;
      display: inline-block;
        & > * {
          position: absolute;
      }
      .background__elem-left {
        left: 5vw;
      }
      .background__elem-right {
        left: 75vw;
      }
      .background__chelik {
        left: 19vw;
        top: 140px;
        @include mobileDown {
          max-width: 588px;
          top: 296px;
          left: -3vw;
        }
      }
    }
  }
  @include mobileDown {
    padding-top: 149+81+30px;
    .top__background {
      .background__elem-left {
        top: 20px;
        left: 7vw;
      }
      .background__elem-right {
        left: 64vw;
      }
    }
  }
  .main-title {
    @extend %fontMainTitle;
  }
  .main-title__caption {
    margin-top: 40px;
    @extend %fontMainAdvantages;
    .caption__item {
      list-style: inside;
      list-style-position: inside;
    }
  }
  .order-btn {
    margin-top: 40px;
    @extend %fontContentBtn;
    @extend %orderBtn;
    @include mobileDown {
      margin-top: 15px;
    }
    position: relative;
  }
}

.intro__bottom {
  margin-top: 360px;
  @include tabletDown {
    margin-top: 0;
  }
  .benefits {
    display: flex;
    justify-content: space-between;
    @include tabletDown {
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 562px;
      margin: 240px auto 0 auto;
    }
    @include mobileDown {
      margin: 420px auto 0 auto;
      justify-content: center;
    }
    .benefits__item {
      background: linear-gradient(180deg, #A6DBF5 0%, #451874 97.92%);
      border-radius: 28px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 262px;
      height: 280px;
      @include mobileDown {
        width: 209px;
        height: 224px;
      }
      & > * {
        display: inline-block;
      }
      .item__pic {
        align-self: center;
        position: relative;
        width: 97px;
        height: 97px;
        background: #FFFFFF;
        border-radius: 50%;
      }
      .item__pic img{
        width: 77.31%;
        height: 77.31%;
        margin: 11.34%;
      }
      .item__caption {
        margin-top: 30px;
        text-align: center;
        @extend %fontBenefits;
      }
    }
    .benefits__item:not(:first-child) {
      margin-left: 38px;
      @include tabletDown {
        margin-left: 0;
      }
    }
    .benefits__item:nth-child(3),
    .benefits__item:nth-child(4) {
      @include tabletDown {
        margin-top: 34px;
      }
    }
    .benefits__item:nth-child(2n) {
      margin-left: 29px;
    }
  }
}

// Секция "Вопрос"-----------------------------------------------------------------------
.ask-section {
  margin-top: 115px;
  padding: 115px 0;
  background-image: url("../img/bg/askpricestar.png");
  background-position: 57%;
  background-repeat: no-repeat;
  background-size: 378px 879px;
  @include tabletDown {
    background-image: url("../img/bg/askpricestar_tablet.png");
    background-position: 100%;
    background-size: 198px 461px;
    margin-top: 0;
    padding: 103px 0 112px;
  }
  .content__container--ask {
    max-width: 1920px;
    max-height: 702px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    display: flex;
    @include tabletDown {
      align-items: center;
    }
  }
  .ask-section__pic {
    position: relative;
    flex: 0 1 100%;
    max-width: 50%;
    @include tabletDown {
      flex: 1 0 328px;
    }
    min-height: 267px;
    transform: translateX(-15px);
    left: -5px;
    top: 0;
    z-index: 0;
    @include mobileDown {

    }
    img {
    width: 100%;
    box-shadow: 0px 4px 15px 5px rgba(95, 36, 168, 0.5);
    border-radius: 10px;
    }
    .pic_desktop {
      @include tabletDown {
        display: none;
      }
    }
    .pic_tablet {
      display: none;
      @include tabletDown {
        display: inline-block;
      }
      @include mobileDown {
        display: none;
      }
    }
    .pic_mobile {
      display: none;
      @include mobileDown {
        display: inline-block;
        position: absolute;
      }
    }
  }
  .ask-section__text {
    margin-left: 1%;
    padding-top: 11%;
    max-width: 570px;
    z-index: 10;
    @include tabletDown {
      padding-top: 50px;
      padding-bottom: 32px;
    }
    & > * {
      display: inline-block;
    }
    & > *:not(:first-child) {
      margin-top: 35px;
    }
    .text__title {
      @extend %fontAskTitle;
    }
    .title__caption {
      @extend %fontAskCaption;
    }
    .ask-btn {
      @extend %fontContentBtn;
      @extend %askBtn;
    }
  }
}

// Секция "Стоимость Услуг"
.services-cost {
  margin-top: 15px;
  .services-cost_positioning {
    position: relative;
  }
  .services-cost__title {
    @extend %fontServicesTitle;
    text-transform: uppercase;
  }
  .services__background {
    position: absolute;
    top: 344px;
    left: -412+35px;
    @include tabletDown {
      top: 20px;
      left: 42%;
      width: 160px;
      height: 168px;
    }
  }
  .services-cost__diagnostic {
    .diagnostic__subtitle {
    @extend %fontServicesSubTitle;
    border-bottom: 1px solid #000000;
    display: inline-block;
    margin-top: 19px;
    }
    .diagnostic__vars {
      margin-top: 40px;
      padding: 0 80px;
      display: flex;
      justify-content: space-between;
      position: relative;
      @include notebookDown {
        padding: 0 10px;
      }
      @include tabletDown {
        margin-top: 52px;
      }
      .diagnostic-var {
        @include tabletDown {
          display: flex;
          flex-direction: column;
        }
        .diagnostic-var__pic {
          @include tabletDown {
            width: 231.4px;
            margin: 0 auto;
          }
        }
        .diagnostic-var__price{
          display: inline-block;
          position: relative;
          z-index: 10;
          .price__inner {
            display: inline-block;
            position: absolute;
            background-color: #5F24A8;
            width: 184px;
            height: 184px;
            border-radius: 50%;
            transform: translate(-84%, 110%);
            @include tabletDown {
              // transform: translate(170%, -80%);
              transform: translate(25.5vw, -95px);
              // transform: none;
              // top: -95px;
              // left: 25.5vw;
              // position: relative;
              width: 116.97px;
              height: 116.97px;
            }
            .price__value {
              margin: 25%;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
                .value__numberic,
                .value__currency {
                  text-align: center;
              }
              @include tabletDown {
                margin: 18% 25%;
              }
            }
            }
          }
          span:first-child {
            @extend %fontServicesPriceValue;
          }
          span:last-child {
            @extend %fontServicesPriceCurrency;
          }
        .var__description {
          margin-top: 46px;
          .description__text {
            text-align: center;
            max-width: 70%;
            margin: 0 auto;
            @extend %fontServicesVarDescription;
            @include tabletDown {
            max-width: 55%
          }
          }
        }
        }
      }
    }
  .services-cost__repairs {
    margin-top: 91px;
    @include tabletDown {
      margin-top: 51px;
    }
    .services-cost__subtitle {
      @extend %fontServicesSubTitle;
      border-bottom: 1px solid #000000;
      display: inline-block;
    }
    .repairs__inner {
      margin-top: 40px;
      .repairs__table {
        width: 100%;
        border: 1px solid #999999;
        border-radius: 20px 20px 20px 20px;
        border-spacing: 0;
        overflow: hidden;
        tr {
          height: 100px;
          @include tabletDown {
            height: 64px;
          }
          td {
            position: relative;
            width: 33.33%;
            .table__first-column {
              @extend %fontServicesTableFirstColumn;
              padding: 0 56px;
              @include tabletDown {
                padding: 0 32px 0 12px;
              }
            }
            .second-column {
              display: flex;
              align-items: center;
              @extend %fontServicesTableSecondColumn;
              span {
                padding-left: 6px;
                @extend %fontServicesTableSecondColumnSpan;
                @include tabletDown {
                  padding-left: 21px;
                }
              }
            }
            .table__btn {
              width: 250px;
              background: #FF880F;
              box-shadow: 2px 4px 20px rgba(187, 150, 0, 0.4);
              border-radius: 10px;
              padding: 18px 56px 21px;
              @extend %fontServicesTableBtn;
              margin-left: 15%;
              @include tabletDown {
                padding: 9px 17px;
                width: 160px;
                margin-left: 11%;
              }
            }
            .table__notice {
              padding-left: 56px;
              @extend %fontServicesTableNotice;
              font-style: italic;
              text-decoration-line: underline;
              @include tabletDown {
                padding-left: 12px;
              }
            }
          }
          td:not(:first-child) > *::before {
            content: "";
            width: 1px;
            height: 55px;
            background-color: #000000;
            position: absolute;
            top: 25%;
            left: -10%;
            @include tabletDown {
              height: 35.35px;
            }
          }
        }
        tr:nth-child(odd) {
          background-color: #E4F9FF;
          background-clip: padding-box;
          overflow: hidden;
        }
        tr:not(:last-child) td {
          border-bottom: 1px solid #999999;
        }
      }
    }
  }
  .services-cost__advantages {
    margin-top: 106px;
    position: relative;
    .advantages__statement {
      max-width: 670px;
      @extend %fontServicesAdvantagesStatement;
      span {
        color: #676767;
      }
    }
    .advantages__background {
      position: absolute;
      right: -25%;
      top: 0%;
      @include tabletDown {
        width: 210px;
        top: 10%;
        right: 0;
        z-index: 0;
      }
    }
    .advantages__content {
      margin-top: 63px;
      display: flex;
      flex-flow: row nowrap;
      .advantages__list {
        flex: 1 0 670px;
        @include tabletDown {
          flex: 1 0 50%;
        }
        .advantages__item {
          margin-left: 68px;
          max-width: 602px;
          position: relative;
          padding: 36px 96px 38px 132px;
          background: linear-gradient(91.09deg, #5F24A8 39.53%, #05D2FF 107.7%);
          border-radius: 27px;
          @extend %fontServicesAdvantagesItem;
          @include tabletDown {
            max-width: 306px;
            padding: 13px 33px 6px 47px;
            height: 51px;
            margin-left: 16px;
          }
          .br-tablet {
            display: none;
            @include tabletDown {
              display: inline;
            }
          }
        }
        .advantages__item:not(:first-child) {
          margin-top: 32px;
          @include tabletDown {
            margin-top: 16.3px;
          }
        }
        .advantages__item::before {
          content: "";
          width: 122px;
          height: 122px;
          border: 2px solid #5F24A8;
          background-color: #FFFFFF;
          box-shadow: 0px 1px 30px 5px rgba(82, 82, 82, 0.25);
          position: absolute;
          display: inline-block;
          border-radius: 50%;
          top: -10%;
          left: -12%;
          background-position: center;
          background-repeat: no-repeat;
          @include tabletDown {
            width: 61px;
            height: 61px;
            background-size: 32px;
            left: -6%;
          }
        }
        .advantages__item:nth-child(1)::before {
          background-image: url("../img/icons/turn-off.svg");
        }
        .advantages__item:nth-child(2)::before {
          background-image: url("../img/icons/water-drop.svg");
        }
        .advantages__item:nth-child(3)::before {
          background-image: url("../img/icons/washing-machine.svg");
        }
        .advantages__item:nth-child(4)::before {
          background-image: url("../img/icons/washing.svg");
        }
        .advantages__item:nth-child(5)::before {
          background-image: url("../img/icons/warning.svg");
          background-position: center 10px;
        }
      }
      .advanteges__pic-place {
        display: flex;
        align-items: center;
        @include tabletDown {
          .advanteges__pic {
          width: 445.95px;
          height: 256.36px;
          z-index: 1;
          }
        }
      }
    }
  }
  }

// Секция "Консультация"
.consulting_positioning {
    position: relative;
}
.consulting {
  margin-top: 61px;
  .consulting__background {
    .background__main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1042px;
      z-index: -1;
      @include tabletDown {
        display: none;
      }
    }
    .background__main_tablet {
      display: none;
      @include tabletDown {
        display: inline-block;  
        width: 920px;
        position: absolute;
        z-index: -1;
        max-height: 1220px;
        left: 0;
      }
    }
    .background__elems {
      .background__elem {
      position: absolute;
      z-index: -1;
    }
    .background__elem:nth-child(1) {
      right: 12%;
      top: 32%;
      @include tabletDown {
        width: 289px;
        right: -3%;
        top: 60%;
      }
    }
    .background__elem:nth-child(2) {
      left: 6%;
      bottom: 6%;
      @include tabletDown {
        width: 179px;
        left: 0%;
        top: 52%;
      }
    }
    }
    
  }
  .consulting__content {
    z-index: 1;
    padding-top: 123px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: column;
    .consulting__title {
    @extend %fontConsultingTitle;
    display: inline-block;
    padding: 25px 24px 24px 24px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
      span {
        color: #FF5C00;
      }
    }
    .consulting__subtitle {
      @extend %fontConsultingSubtitle;
      margin: 53px auto 0 auto;
      justify-self: center;
      .subtitle__br {
        display: none;
        @include tabletDown {
          display: inline;
        }
      }
      @include tabletDown {
        text-align: center;
        margin: 25px auto 0 auto;
      }
    }
  }
  .consulting__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    @include tabletDown {
      flex-direction: column;
      justify-content: center;
    }
    .consulting__left-column {
      flex: 0 1 370px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include tabletDown {
        flex-direction: row;
        justify-content: space-around;
        flex: 0 1 216px;
      }
      .consulting__qualities {
        .qualities__item {
          position: relative;
          @extend %fontConsultingQualities;
          padding-left: 77px;
        }
        .qualities__item:not(:first-child) {
          margin-top: 48px;
        }
        .qualities__item::before {
          content: url("/img/icons/star.svg");
          width: 50px;
          height: 50px;
          position: absolute;
          left: 0;
          top: -25%;
        }
      }
      .consulting__number {
        margin-top: 63px;
        display: flex;
        flex-direction: column;
        @include tabletDown {
          margin-top: 23px;
        }
        .number__caption {
          @extend %fontConsultingNumberCaption;
          text-align: center;
        }
        .number__value {
          @extend %fontConsultingNumberValue;
          margin-top: 22px;
          text-align: center;
          padding: 17px 28px 16px;
          background-color: #fff;
          border-radius: 30px;
          @include tabletDown {
            line-height: 35px;
            padding: 13px 45px 12px;
          }
        }
      }
    }
    .consulting__right-column {
      @include tabletDown {
        display: flex;
        justify-content: center;
        margin-top: 49px;
      }
    }
  }
}

.callback-form {
  width: 448px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  .callback-form__top {
    background: linear-gradient(180deg, #FF5C00 63.54%, rgba(255, 92, 0, 0) 100%);
    border-radius: 20px;
    .callback-form__headline {
    @extend %fontCallbackFormHeadline;
    display: inline-block;
    margin: 42px 42px;
    text-align: center;
    @include tabletDown {
      margin: 24px 34px;
    }
    }
  }
  .callback-form__content {
    display: flex;
    flex-direction: column;
    .callback-form__input {
      display: block;
      margin: 55px auto 0;
      padding: 17px 45px;
      border: 2px solid #CACACA;
      border-radius: 10px;
      @extend %fontCallbackFormInput;
    }
    .callback-form__btn {
      @extend %fontCallbackFormHeadline;
      display: inline-block;
      margin: 43px auto 0;
      padding: 17px 34px;
      background: #FF880F;
      box-shadow: 2px 4px 20px rgba(255, 136, 15, 0.65);
      border-radius: 40px;
    }
    .callback-form__caption {
      @extend %fontCallbackFormCaption;
      margin: 27px auto 46px;
    }
  }
}

// Секция "Почему Мы?"
.why-us_positioning {
  position: relative;
}
.why-us {
  padding-top: 187px;
  padding-bottom: 100px;
  @include tabletDown {
    padding-top: 10px;
  }
  .why-us__background {
    .background__img {
      position: absolute;
      width: 1920px;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -2;
      @include fullhdUp {
        width: 100%;
      }
      @include tabletDown {
        width: 1782px;
        height: 990px;
        top: -10%;
        left: -93%;
      }
    }
  }
  .why-us__content {
    display: flex;
    flex-direction: column;
    .why-us__quality-guarantees {
      @extend %fontWhyUsQualityGuarant;
      display: inline-block;
      background-color: #fff;
      border-radius: 20px;
      padding: 32px 54px;
      margin: 0 auto;
    }
    .why-us__inner {
      display: flex;
      flex-direction: column;
      max-width: 670px;
      margin-top: 43px;
      .why-us__title {
        @extend %fontWhyUsTitle;
        padding-left: 4px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
      }
      .why-us__title::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 0;
        width: 263px;
        height: 3px;
        background: linear-gradient(90deg, #5F24A8 56.74%, rgba(95, 36, 168, 0) 74.86%);
      }
      .why-us__qualities {
        margin-top: 60px;
        .qualities__item {
          position: relative;
          @extend %fontWhyUsQualityGuarant;
          padding-left: 77px;
          @include tabletDown {
            padding-left: 57px;
          }
        }
        .qualities__item:not(:first-child) {
          margin-top: 48px;
          @include tabletDown {
            margin-top: 21px;
          }
        }
        .qualities__item:nth-child(4)::before {
          @include tabletDown {
            top: 0%;
          }
        }
        .qualities__item::before {
          content: url("/img/icons/star.svg");
          width: 50px;
          height: 50px;
          position: absolute;
          left: 0;
          top: -25%;
          @include tabletDown {
            transform: scale(0.7);
            top: -45%;
          }
        }
      }
      .why-us__guarantees {
        @extend %fontWhyUsTitle;
        margin-top: 59px;
        @include tabletDown {
          text-shadow: 0px 4px 4px rgba(95, 36, 168, 0.43);
        }
      }
      .guarantees__list {
        margin-top: 45px;
        .guarantees__item {
          max-width: 602px;
          position: relative;
          padding: 39px 43px 39px 137px;
          background: linear-gradient(90deg, #5F24A8 48.79%, rgba(3, 191, 250, 0.84) 84.38%);
          border-radius: 55.5px;
          @extend %fontServicesAdvantagesItem;
          text-shadow: 2px 6px 15px rgba(255, 255, 255, 0.5);
          @include tabletDown {
            padding: 39px 43px 39px 137px;
            font-size: 28px;
            line-height: 33px;
            max-height: 111px;
            max-width: 608px;
            display: inline-block;
          }
        }
        .guarantees__item:not(:first-child) {
          margin-top: 32px;
        }
        .guarantees__item::before {
          content: "";
          width: 104px;
          height: 104px;
          border: 3px solid #5F24A8;
          background-color: #FFFFFF;
          box-shadow: 0px 1px 30px 5px rgba(82, 82, 82, 0.25);
          position: absolute;
          display: inline-block;
          border-radius: 50%;
          top: 0%;
          left: 0%;
          background-position: center;
          background-repeat: no-repeat;
          @include tabletDown {
            width: 110px;
            height: 111px;
          }
        }
        .guarantees__item:nth-child(1)::before {
          background-image: url("../img/icons/trg__guarantee.svg");
        }
        .guarantees__item:nth-child(2)::before {
          background-image: url("../img/icons/trg__quality.svg");
        }
      }
    }
  }
}

//Секция "Отзывы"

.reviews_positioning {
  position: relative;
}

.container_review {
  max-width: 1230px;
  padding: 0 15px;
  & > * {
    padding: 0 15px;
    @include tabletDown {
      padding: 0 3px;
    }
  }
}

.reviews {
  margin-top: 106px;
  @include tabletDown {
    margin-top: 65px;
  }
  .reviews__background {
    .background__img {
      position: absolute;
      top: 20.45%;
      left: 7.968%;
      z-index: -2;
    }
  }
  .reviews__title {
    @extend %fontWhyUsTitle;
  }
  .title__caption {
    display: inline-block;
    margin-top: 22px;
    @extend %fontReviewsTitleCaption;
  }
  .reviews__slider {
    margin-top: 70px;
    margin-bottom: 149px;
    width: 100%;
    padding: 15px 15px 20px;
    overflow: hidden;
    @include tabletDown {
      margin-top: 41px;
      padding: 15px 3px 20px;
      margin-bottom: 66-20px;
    }
    .slider__wrapper {
      max-width: 370px;
      .slider__slide {
        max-width: 370px;
        .reviews__item {
          display: flex;
          flex-direction: column;
          background: #FFFFFF;
          box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.1);
          border-radius: 42px;
          padding: 28px;
          .item__top {
            display: flex;
            justify-content: space-between;
            .reviewer-avatar {
              padding: 4px 10px;
              border-radius: 50%;
              @include tabletDown {
                padding: 2px 3px;
                width: 82px;
                height: 82px;
              }
            }
            .review-id {
              align-self: center;
              .reviewer-name {
                @extend %fontReviewerName;
              }
              .review-date {
                @extend %fontReviewerDate;
                margin-top: 11px;
                .br-tablet {
                  display: none;
                  @include tabletDown {
                    display: inline;
                  }
                  @include tinyMobileDown {
                    display: none;
                  }
          }
              }
            }
            .review-socials {
              display: flex;
              .socials__link:last-child {
                margin-left: 8px;
              }
            }
          }
          .item__bottom {
            .review-text {
              @extend %fontReviewText;
              margin-top: 27px;
            }
          }
        }
      }
      .swiper-slide-active + .swiper-slide-next {
        @include tabletDown {
          .reviews__item {
            box-shadow: 0px 3px 15px 10px rgba(0, 0, 0, 0.2);
            transition: 0.5s;
          }
        }
      }
      .swiper-slide-active {
        .reviews__item {
          box-shadow: 0px 3px 15px 10px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          @include tabletDown {
            box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      margin-top: 0;
    }
    .swiper-button-prev_desktop,
    .swiper-button-next_desktop {
      @include tabletDown {
        display: none;
      }
    }
    .swiper-button-prev {
      content: url("/img/icons/arrow-left.svg");
      width: 49px;
      height: 49px;
      left: 5%;
    }
    .swiper-button-next {
      content: url("/img/icons/arrow-right.svg");
      width: 49px;
      height: 49px;
      right: 5%;
    }
    .slider__pagination-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 42px;
      .pagination-button-next,
      .pagination-button-prev {
        position: inherit;
        margin-top: 0;
      }
      .swiper-pagination-fraction {
        @extend %fontReviewPagination;
        position: inherit;
        z-index: -1;
        max-width: 82px;
      }
      .swiper-pagination-current {
        color: #B0B0B0;
      }
    }
  }
}

//Секция "Скидка"

.discount_background {
  background-image: url("../img/bg/footform.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center 0px;
}

.discount__inner {
  display: flex;
  flex-flow: column nowrap;
  padding: 86px 0 66px;
  & > * {
    margin: 0 auto;
  }
  .discount__title {
    @extend %fontDiscountTitle;
    padding: 22px 36px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
  }
  .discount__caption {
    @extend %fontDiscountCaption;
    margin-top: 55px;
  }
  .callback-form_discount-positioning {
    margin-top: 67px;
  }
}